<div class="container">
  <%= simple_form_for chair do |f| %>
    <%= f.input :name %>
    <%= f.input :location %>
    <%= f.input :description %>
    <%= f.input :price %>
    <%= f.input :photo, as: :file %>
    <div class="d-flex">
      <%= f.submit "submit", class:'btn btn-primary' %>
      <% if action_name == 'edit' %>
        <%= link_to(chair, method: :delete, data: { confirm: 'Are you sure?' }, class: "ml-2") do %>
        <i class="far fa-trash-alt"></i>
      <% end %>
      <% end %>
    </div>
  <% end %>
</div>
