<div class="container">
<h1>All Chairs <%= link_to "+", new_chair_path, class: "btn btn-primary text-white"%></h1>


<br>
<div class="list">
  <% @chairs.each do |chair| %>
  <div class="card-product mt-3">
  <%= cl_image_tag chair.photo.key, crop: :fit %>
  <div class="card-product-infos">
    <h2><%= link_to chair.name, chair_path(chair) %></h2>
    <p> <%= chair.description   %> </p>
  </div>
</div>

  <% end %>
</div>
</div>



<%= current_user.email %>
