<div class="container">
<h1 class="mt-5 d-flex justify-content-center">All Chairs</h1>

<br>
<div class="list">
  <% @chairs.each do |chair| %>
  <div class="card-product mt-3">
  <%= cl_image_tag chair.photo.key, crop: :fit %>
  <div class="card-product-infos">
    <h2><%= link_to chair.name, chair_path(chair) %></h2>
    <h4> <%= chair.description %> <h4>
    <p> €<%= chair.price %></p>
  </div>
</div>

  <% end %>
</div>
</div>



<%= current_user.email %>
