
<div class="container-fluid">


  <div class="container-fluid">

    <h1 class="mt-5">Available Chairs near you </h1>
    <div class="chairs-wrapper row">
      <div class="scroll col-12 col-md-8">
        <% @chairs.each do |chair| %>
        <div class="card-product mt-3">
          <%= cl_image_tag chair.photo.key, crop: :fit %>
          <div class="card-product-infos">
            <div>
              <h2><%= link_to chair.name.capitalize, chair_path(chair) %></h2>
              <p> <%= chair.description&.truncate(155, separator: " ") %> </p>
              <div id="listing-price"> € <%= chair.price %> <span class="per-day-tag"> /day</span></div>
              <p>Listed by: <%= chair.user.email %></p>
            </div>
          </div>
        </div>
        <% end %>
      </div>

      <div id="map"
       style="width: 100%; height: 600px;"
       data-markers="<%= @markers.to_json %>"
       data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>" class="map col-12 col-md-4">
     </div>
    </div>
  </div>
</div>
