<div class="container chair-card">
  <h1 class="text-center"> <%= @chair.name %> </h1>
  <div class="d-flex">
  <div class="img mx-3"> <%= cl_image_tag @chair.photo.key, height: 300, width: 400, crop: :fit %> </div>
  <div class="des">
    <p>Description: <%= @chair.description %></p>
    <p>Location: <%= @chair.location %> </p>
    <p>Price: <%= @chair.price %> €</p>
    <p> <%= link_to "Back to all chairs", chairs_path, class: "btn btn-info" %> </p>
    <p> <%= link_to "Edit this chair", edit_chair_path(@chair), class: "btn btn-warning" %> </p>
    <p> <%= link_to "Delete this chair", @chair, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger" %> </p>
  </div>
  </div>

</div>



<%= @chair.user.email %>

