<div class="container chair-card" id="show-chair">
    <h1 class="text-center" id="show-head"> <%= @chair.name.capitalize %> </h1>
      <div class="d-flex">
        <div class="img mx-3"> <%= cl_image_tag @chair.photo.key, height: 300, width: 400, crop: :fit, class: "show-pic" %> </div>
        <div class="des">
          <h3>About this Chair: </h3> <p> <%= @chair.description %> </p>
          <p>Location: <%= @chair.location %> </p>
          <p>Price: <%= @chair.price %> €</p>
        </div>
        <div>
          <!-- <h1 class="col-6">sdfhjkdsfkj</h1> -->
        </div>
        </div>
          <div class="row d d-flex justify-content-center">
            <p> <%= link_to "Back to available chairs", chairs_path, class: "btn btn-info mx-1 mt-3" %> </p>
            <p> <%= link_to "Edit this chair", edit_chair_path(@chair), class: "btn btn-warning mx-1 mt-3" %> </p>
            <p> <%= link_to "Delete this chair", @chair, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger mx-1 mt-3" %> </p>
          </div>
</div>

