<div class="container chair-card">
  <h1 class="text-center"> <%= @chair.name %> </h1>
  <div class="d-flex">
  <div class="img mx-3"> <%= cl_image_tag @chair.photo.key, height: 300, width: 400, crop: :fit %> </div>
  <div class="des">
    <p>Description: <%= @chair.description %></p>
    <p>Location: <%= @chair.location %> </p>
    <p>Price: <%= @chair.price %> €</p>
    <p> <%= link_to "Back", chairs_path %> </p>
    <p> <%= link_to "Edit", edit_chair_path(@chair) %> </p>
    <p> <%= link_to "Delete", @chair, method: :delete, data: { confirm: 'Are you sure?' } %> </p>
  </div>
  </div>

</div>

 



