<div class="container show-bg mt-3 pt-5">
  <h1 class="text-center font-weight-bold" id="show-head"> <%= @chair.name.capitalize %> </h1>
  <div class="show-flex-layout">
    <div class="child1">
    <div class="img mx-3 mb-3"> <%= cl_image_tag @chair.photo.key, height: 300, width: 500, crop: :fit, class: "show-pic" %> </div>
  </div>

  <div class="child2 ml-3">
    <h3>About this Chair: </h3> <p> <%= @chair.description %> </p>
    <p>Location: <%= @chair.location %> </p>
    <p class="price-style-show-page">Price: <%= @chair.price %> €</p>
  </div>

  <div class="child3 ml-2">
    <div class="check-availabity">
      <%= simple_form_for reservation do |f| %>
        <div class="form-row">
          <div class="col-6">
            <%= f.date :start_date %>
          </div>
          <div class="col-6">
            <%= f.date :end_date %>
          </div>
          <div class="col-lg-12 mt-2">
            <%= f.input :total_price %>
          </div>
          <div class="col-12 mt-2">
            <%= f.submit "Book Now", class:"btn btn-primary w-100" %>
          </div>
      <% end %>
        </div>
      </form>
    </div>
  </div>
  </div>

  <div class="actions d-flex justify-content-center">
    <p> <%= link_to "Back to available chairs", chairs_path %> </p>
    <p> <%= link_to "Edit this chair", edit_chair_path(@chair)%> </p>
    <p> <%= link_to "Delete this chair", @chair, method: :delete, data: { confirm: 'Are you sure?' }%> </p>
  </div>
</div>




