<div class="container chair-card">
  <h1 class="text-center"> <%= @chair.name %> </h1>
  <div class="container">
    <div class="d-flex justify-content-center">
    <div class="img mx-3"> <%= cl_image_tag @chair.photo.key, height: 300, width: 400, crop: :fit %> </div>
    <div class="des">
      <h3>Description: <%= @chair.description %></h3>
      <p>Location: <%= @chair.location %> </p>
      <p>Price: <%= @chair.price %> €</p>
    </div>
    </div>
    <div class="container">
      <div class="row d d-flex justify-content-center">
        <p> <%= link_to "Back to available chairs", chairs_path, class: "btn btn-info mx-1 mt-2" %> </p>
        <p> <%= link_to "Edit this chair", edit_chair_path(@chair), class: "btn btn-warning mx-1 mt-2" %> </p>
        <p> <%= link_to "Delete this chair", @chair, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger mx-1 mt-2" %> </p>
      </div>
    </div>
  </div>

</div>



<%= @chair.user.email %>

